{{ define "main" }}
<div>
    <h1>404</h1>
    <p>
        The page <span id="url">you requested</span> was not found.
    </p>
    <a class="re-button re-round re-border" onclick="window.history.back()">
        Go Back
    </a>
    <a class="re-button re-round re-border" href="{{ .Site.BaseURL }}">
        Go Home
    </a>
    <script>
      $('url').innerText = window.location.href;
    </script>
</div>
{{ end }}
