{{ define "main" }}
<div class="re-pad w3-row">
    <div class="w3-threequarter">
        {{ .Content }}
    </div>
    <div class="w3-quarter">
        <div class="re-section re-pad w3-margin w3-red">
            <h2>v2 β</h2>
            <p>This website is the beta version of the version 2 website.</p>
        </div>
        <div class="re-section re-pad w3-margin">
            <h2>Today's Date</h2>
            <!--            <noscript><div class="re-section">-->
            <!--                <i data-feather="alert-circle"></i>Today's date won't be visible without JavaScript enabled.-->
            <!--            </div></noscript>-->
            <!--            <p>-->
            <!--                Today (<span id="day-tdy-date">loading</span>)'s day is <span id="day-tdy-day">loading</span>.-->
            <!--                Tomorrow (<span id="day-tmr-date">loading</span>)'s day is <span id="day-tmr-day">loading</span>.-->
            <!--            </p>-->
            <!--            <script>-->
            <!--              fetch(-->
            <!--                'https://cors-anywhere.herokuapp.com/'+encodeURIComponent('brandonfowler.me/nssday/?api&full'),-->
            <!--                {-->
            <!--                  headers: {-->
            <!--                    'X-Requested-With': 'fetch',-->
            <!--                  },-->
            <!--                },-->
            <!--              )-->
            <!--                .then(data => $('#day-tdy-date').innerText = data.text());-->
            <!--            </script>-->
            <p>
            <h3>Today's Date</h3>
            <iframe src="https://brandonfowler.me/nssday/?api&full" frameborder="0"></iframe>
            <h3>Tomorrow's Date</h3>
            <iframe src="https://brandonfowler.me/nssday/?api&full&next" frameborder="0"></iframe>
            </p>
        </div>
        {{- $recent := .Site.RegularPages }}
        {{- $recentNum := (.Site.Params.widgets.recent_num | default 3) }}
        {{- $style := (.Site.Params.widgets.style | default 1 ) }}
        {{ if $recent }}
        <div class="re-section re-pad w3-margin">
            <h2>Posts</h2>
            <div class="w3-content">
                <!-- TODO: show only pages with prefix of posts/ -->
                {{ range first $recentNum $recent }}
                {{ if eq $style 1 }}
                <a class="w3-hover-text-blue re-delay" href="{{ .RelPermalink }}">
                    <b>{{ .Title }}</b> {{.Date.Format "02 Jan 06"}}
                </a><br /><br />
                {{ else if eq $style 2 }}
                <div>
                    <a class="w3-hover-text-blue re-delay" href="{{ .RelPermalink }}">
                        <b>{{ .Title }}</b> {{.Date.Format "02 Jan 06"}}
                    </a>
                    <p>
                        {{ .Summary }}
                    </p>
                    {{ if .Truncated }}
                    <a class="w3-hover-text-blue re-delay" href="{{ .RelPermalink }}">
                        Read More
                    </a>
                    {{ end }}
                </div>
                {{ else if eq $style 3 }}
                <a class="re-section w3-margin re-button" href="{{ .RelPermalink }}" style="text-align: left; overflow-x: hidden; overflow-y: auto; white-space: normal;">
                    <h3>{{ .Title }}</h3>
                    <p>
                        <!-- 2006-01-02T15:04:05.999999999Z07:00 -->
                        Posted {{.Date.Format "02 Jan 06 15:04 MST"}}
                    <hr />
                    {{ .Summary }}
                    </p>
                    {{ if .Truncated }}
                    <a class="re-section w3-margin re-button" href="{{ .RelPermalink }}">
                        Read More
                    </a>
                    {{ end }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <p>by {{ .Site.Params.authorName | markdownify }}</p>
</div>
{{ end }}
